@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar-icon {
  background-color: #56E0E0;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 70px;
  object-fit: cover;
  z-index: 1;
}
.input-text {
  position: relative;
  line-height: 24px;
  display: none;
}
.Search5 {
  position: absolute;
  top: 15px;
  left: 500px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 2px solid var(--medium-gray);
  box-sizing: border-box;
  width: 479px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-base);
  text-align: left;
}
.background-icon {
  background-color: #56E0E0;
  position: absolute;
  top: 129px;
  left: 0;
  width: 100%;
  height: 891px;
  overflow: auto;
}
.fixed-button0 {
  position: absolute;
  top: 164px;
  left: 38px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 104px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}

.ProjectBack {
  position: absolute;
  top: 250px;
  left: 45px;
  border-radius: var(--br-5xs);
  border: 2px solid gray;
  background-color: white;
  position: absolute;
  overflow-y: auto;
  width: 94%;
  height: 100%;
}
.AzText {
  position: relative;
  top: calc(50% - 15px);
  left: 1px;
  line-height: 100%;
  font-weight: 600;
}
.maxperformance1-1 {
  text-decoration: none;
  position: absolute;
  top: -20px;
  left: 0;
  width: 179px;
  height: 179px;
  background-image: url(/public/maxperformance11@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0;
}
.maxperformance1-1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.create-task {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 8px);
  left: calc(50% - 54.5px);
  font-size: var(--button-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--button);
  color: var(--black);
  text-align: center;
  display: inline-block;
}
.avatar-icon {
  position: absolute;
  top: 47px;
  left: 500;;
  width: 57px;
  height: 57px;
}
.SignButton {
  position: absolute;
  top: 50px;
  left: 1300px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 150px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}
.list-of-projects {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1020px;
  overflow: hidden;
  text-align: center;
  font-size: var(--button-size);
  color: var(--black);
  font-family: var(--button);
}
.state {
  position: absolute;
  top: 164px;
  left: 200px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 104px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}
.StateText{
  position:relative;
  top: calc(50% - 15px);
  left:20;
  line-height: 100%;
  font-weight: 600;
}
.createProject {
  position: absolute;
  top: 164px;
  left: 1280px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 104px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}
.Sign {
  position: relative;
  top: calc(50% - 15px);
  left: 1px;
  line-height: 100%;
  font-weight: 600;
}

.project-list {
  position: absolute;
  top: auto;
  max-width: 300px; 
  margin: 20px; 
  list-style-type: none;
  font-size: 25px;
  padding: 25px;
  text-decoration: none;
}

.project-list a {
  text-decoration: none; /* Убрать подчеркивание у ссылок */
  transition: color 0.3s ease;
  color: black; 
}

.project-list li {
  border: 1px solid #ccc; /* рамка для каждого элемента списка */
  margin-bottom: 40px; /* отступ снизу для каждого элемента списка */
  padding: 10px; /* внутренний отступ для текста внутри каждого элемента списка */
  border-radius: 4px; /* скругление углов рамки */
}

  .description {
    margin-top: 10px;
    padding: 50px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-size: 50px;
  }

.maxperformance1-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 179px;
  z-index: 2;
}