.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 4px 64px rgba(0, 0, 0, 0.05);
  border: 0.5px solid #878787;
  box-sizing: border-box;
  width: 504px;
  height: 1019px;
}
.registration-wrapper,
.registration1 {
  position: absolute;
  top: 0;
  width: 188.63px;
  height: 60.85px;
}
.registration1 {
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.registration-wrapper {
  left: 0.07px;
  font-size: 31px;
}
.instance-child,
.user-name {
  position: absolute;
  top: 0;
  left: 0;
}
.user-name {
  width: 92.2%;
  display: inline-block;
}
.instance-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 0.6px solid var(--color-gray-100);
  box-sizing: border-box;
}
.enter-your-user {
  position: absolute;
  top: 32.2%;
  left: 6.38%;
  font-weight: 300;
}
.rectangle-group {
  position: absolute;
  height: 64.13%;
  width: 100%;
  top: 35.87%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.email-parent,
.password-parent,
.user-name-parent {
  position: absolute;
  top: 136px;
  left: 0.07px;
  width: 422.16px;
  height: 119.1px;
}
.email-parent,
.password-parent {
  top: 0;
}
.password-parent {
  left: 0;
}
.invisible-1-icon {
  position: absolute;
  top: 67.24px;
  left: 363.07px;
  width: 31px;
  height: 27px;
  overflow: hidden;
}
.instance-group {
  position: absolute;
  top: 423.76px;
  left: 0;
  width: 422.16px;
  height: 119.1px;
}
.invisible-1-icon1 {
  position: absolute;
  top: 66.87px;
  left: 363.07px;
  width: 31px;
  height: 28px;
  overflow: hidden;
}
.group-item,
.instance-container {
  position: absolute;
  top: 555.13px;
  left: 0;
  width: 422.16px;
  height: 119.1px;
}
.group-item {
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumturquoise);
  height: 73.79px;
}
.register {
  position: absolute;
  top: 22.01px;
  left: 178.65px;
  font-weight: 500;
  display: inline-block;
  width: 65.87px;
  height: 31.07px;
}
.instance-parent,
.rectangle-parent2 {
  position: absolute;
  top: 700.28px;
  left: 0;
  width: 422.16px;
  height: 73.79px;
}
.instance-parent {
  top: 84.88px;
  width: 422.23px;
  height: 774.07px;
}
.already-have-an {
  font-weight: 300;
}
.sign-in {
  font-weight: 600;
  color: var(--color-black);
}
.already-have-an-container {
  position: absolute;
  top: 875.88px;
  left: 67.07px;
  display: inline-block;
  width: 288px;
  height: 31px;
  cursor: pointer;
  color: #7d7d7d;
}
.group-parent {
  position: absolute;
  top: 57.12px;
  left: 34.93px;
  width: 422.23px;
  height: 906.88px;
}
.rectangle-parent,
.registration-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 504px;
  height: 1019px;
}
.registration-inner {
  top: 1px;
  left: 737px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.registration-child,
.registration-item {
  position: absolute;
  height: 4.12%;
  width: 21.31%;
  top: 40.78%;
  right: 39.7%;
  bottom: 55.1%;
  left: 38.99%;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
  border: 0.6px solid var(--color-gray-100);
  box-sizing: border-box;
}
.registration-item {
  height: 12.16%;
  bottom: 47.06%;
}
.maxperformance1-3-icon {
  position: absolute;
  top: 0;
  left: 990px;
  width: 259px;
  height: 293px;
  object-fit: cover;
}
.icon,
.role {
  position: absolute;
  top: 7px;
  left: 12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.role {
  top: 9px;
  left: 45px;
  font-weight: 600;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 125px;
  height: 22px;
}
.icons,
.icons1 {
  position: absolute;
  top: 7px;
  left: 393px;
  width: 16px;
  height: 16px;
}
.icons1 {
  top: 4px;
  left: 389px;
  width: 24px;
  height: 24px;
}
.settings,
.team-sub-menu {
  position: absolute;
  top: 417px;
  left: 772px;
  width: 422px;
  height: 29px;
}
.team-sub-menu {
  top: 8px;
  left: 31px;
  width: 383px;
  height: 76px;
}
.team-sub-menu-wrapper {
  position: absolute;
  top: 446px;
  left: 742px;
  width: 422px;
  height: 73px;
}
.customer {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
}
.engineering {
  position: absolute;
  top: 492px;
  left: 780px;
  width: 355px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.freelancer {
  flex: 1;
  position: relative;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.analytics {
  position: absolute;
  top: 454px;
  left: 780px;
  width: 355px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.divider-icon {
  position: absolute;
  top: 491px;
  left: 772px;
  width: 422px;
  height: 2px;
}
.registration {
  position: relative;
  background-color: var(--color-mediumturquoise);
  width: 100%;
  height: 1020px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-manrope);
}
