.name-icon,
.profile-picture-icon {
  position: absolute;
  top: 18px;
  left: 260px;
  width: 105px;
  height: 109px;
}
.name-icon {
  top: 27px;
  left: 16px;
  width: 67.96px;
  height: 10.42px;
}
.email,
.role {
  position: absolute;
  top: 47px;
  left: 11px;
  line-height: 48px;
  font-weight: 600;
}
.email {
  top: 84px;
  left: 10px;
}
.frame-child,
.frame-item,
.icons {
  position: absolute;
  top: 93px;
  left: 11px;
  width: 239px;
  height: 2px;
}
.frame-item,
.icons {
  top: 47px;
}
.icons {
  top: 8px;
  left: 334px;
  width: 31px;
  height: 31px;
}
.profile-picture-parent {
  position: relative;
  border-radius: 30px;
  background-color: var(--white);
  border: 5px solid #37a2a2;
  box-sizing: border-box;
  width: 386px;
  height: 150px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--button-size);
  color: var(--black);
  font-family: var(--button);
}
